:root {
  --font-family: "Open Sans", sans-serif;
  --primary-color: rgb(2, 162, 184);
  --tooltip-color: rgba(2, 163, 184, 0.445);
  --light-grey: rgb(161, 161, 161);
  --primary-white: #ffffff;
  --font-size: 62.5%;
  --background-color: rgb(14, 18, 32);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--primary-white);
  font-family: var(--font-family);
  position: relative;
}

.main {
  width: 100%;
  max-width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 1rem 1.5rem;
}

.input__area {
  text-align: start;
}

label {
  font-size: 0.9rem;
  color: var(--primary-color);
  opacity: 0.7;
}

.input {
  font-family: inherit;
  margin-top: 0.1rem;
  width: 100%;
  padding: 0.4rem;
  background-color: inherit;
  border: 0.1px solid rgba(128, 128, 128, 0.445);
  outline: none;
  border-radius: 3px;
  color: var(--primary-white);
  font-weight: 500;
  font-size: 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.25rem;
  margin-block: 1.25rem;
}

.timer {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-inline: 0.5rem;
  color: var(--primary-color);
}

button {
  border: none;
  width: 45px;
  background-color: var(--primary-color);
  aspect-ratio: 1;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

i {
  font-size: 1.25rem;
  color: var(--background-color);
}

.tt {
  position: absolute;
  bottom: -32px;
  left: -6px;
  padding: 0.35rem 1rem;
  background-color: var(--tooltip-color);
  border-radius: 3px;
  color: var(--light-grey);
  text-transform: uppercase;
  border: none;
  font-weight: 600;
  font-size: 0.7rem;
  z-index: 1;
  cursor: default;
  visibility: hidden;
}
.tt::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--tooltip-color) transparent;
}

button:hover .tt {
  visibility: visible;
}
